<div>


    <h1>Users List</h1>

<table class="table">
        <thead>
            <th>Id</th>
            <th>Username</th>
                  <th>Address</th>
            <th>Age</th>
        </thead>
        <tbody>
            {{#data}}
                <tr>
                    <td>{{_id}}</td>
                    <td>{{name}} </td>
                      <td>{{address}} </td>
                   
                    <td>{{age}}</td>
                </tr>
            {{/data}}
        </tbody>
    </table>



</div>
